<!DOCTYPE html>

<!-- <script type="text/javascript">// <![CDATA[
  function loading(){
      $("#loading").show();
      $("#content").hide();       
  }
// ]]></script> -->

<html>
    <head></head>
    <body>
        <div>
          <h1>Fly the Coop</h1>
          <p>Hello, expand your mind through twitter! </p>
      </div>
      <a href="/my-link/" onclick="loading();">Click me</a>
    </body>
</html>
<!-- <body>
  <div id="loading"></div>
  <div id="content">
      <h3>Type anything:</h3>
      <p>
      <form action=".">
          <input type="text" name="anything" placeholder="Type anything here">
          <input type="submit" name="anything_submit" value="Submit" onclick="loading();">
      </form>
      </p>
  </div>    
</body> -->